
# basic masonry layout for people filtered by tags in page.yml

<div class="group clearfix">
<div id="masonry" class="row">
{% for person in site.data.people %}
 {% if person.tag contains 'contact' %}
 <div class="col-md-6">
   <div class="well">
    <div class="col-md-3">
    <h4><a href="{{ person.email }}">{{ person.name }} {% if person.institution != "none" %}<br /><small>{{ person.institution }}</small>{% endif %}</h4>
<img src="{{ person.image }}" alt="{{ person.name }}" width="100" class="img-rounded">
    </div>
    <div class="col-md-9">
<p>{{ person.neh_role_description }}</p>
    </div>
   </div>
 </div>
{% endif %}
{% endfor %}
</div>
</div>


