


<div class="row responsive">

<div class="col-md-10">
	<h2>2015-16 Fellows</h2>
<ul class="media-list">

	{% for person in site.data.fellows-projects2015 %}

	<li class="media">
	  <a class="pull-left" href="#">
		  <img class="media-object img-circle" src="{{ person.img }}" alt="{{ person.name }}" width="180">
	  </a>
	<div class="media-body">
		  <h4>{{ person.fullname }} <small> {{ person.projecttitle }}</small></h4>
		<span>{{ person.description }}</span> 
	</div>
	</li>
	{% endfor %}
</ul>
</div><!-- end col -->
</div>
<div class="row responsive">

<div class="col-md-10">
	<h2>2013-14 Fellows</h2>
<ul class="media-list">

	{% for person in site.data.fellows-projects2013 %}

				<li class="media">
					<div class="media-body">
		 			   <h4>{{ person.fullname }} <small> {{ person.projecttitle }}</small></h4>
					   <span>{{ person.description }}</span> 
				   </div>
			   </li>
	{% endfor %}
</ul>
</div><!-- end col -->
</div>
