
<div class="row">
<div class="col-md-8 col-md-offset-2">
 

{% for category in site.categories %}
  <h3><a href="{{site.url}}/{{site.category_dir}}/{{ category | first }}/">{{ category | first | upcase }}</a></h3>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
      	{% if post.url %} 
        <h4><small>{{ post.date | date: "%x" }}  &#8226;  </small><a href="{{ post.url }}">{{ post.title }}</a></h4>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>


{% endfor %}

</div>
</div>