---
layout: default
---

{% include banner_image.html %}


<h1>{{ page.title }}</h1>

{{ content }}



<div class="group clearfix">
{% for projects in site.data.projects %}
<div class="masonry" class="row">
 <div class="col-md-8">

   <div class="well">
    <div class="col-md-9">
<h4>
	{% if projects.url != null %}<a href="{{ projects.url }}">{{ projects.title | upcase }}</a>
	{% else %}
	<a href="{{ site.baseurl }}/projects/{{projects.title}}">{{ projects.title }}</a>
	{% endif %}
	<br /><small>Active since {{ projects.start }}</small></h4>
<p>{{ projects.people | array_to_sentence_string }}.</p>
    </div>
   </div>


 </div>
</div>
{% endfor %}
</div>

